<div class="sidebar">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
    -->
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="javascript:void(0)" class="simple-text logo-mini">
                P7-3
            </a>
            <a href="javascript:void(0)" class="simple-text logo-normal">
                INF1002
            </a>
        </div>
        <ul class="nav">
            <li class="{% if 'index' in segment %} active {% endif %}">
                <a href="/">
                    <i class="tim-icons icon-chart-pie-36"></i>
                    <p>Dashboard</p>
                </a>
            </li>

            <li class="{% if 'analyze_url' in segment %} active {% endif %}">
                <a href="/analyze_url">
                    <i class="tim-icons icon-atom"></i>
                    <p>Analyze URL</p>
                </a>
            </li>
            
            <li class="{% if 'segment_text' in segment %} active {% endif %}">
            <a href="{{ url_for('segment_text_route') }}">
                <i class="tim-icons icon-key-25"></i>
                <p>Word Segmentation</p>
            </a>
            </li>
            
        </ul>
    </div>
</div>
